body {
    background: #96c2e2;
    display: flex;
}

#parent {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    box-shadow: 7px -7px #ecebf0;
    border-radius: 40px 10px;
    cursor: pointer;
    user-select: none;
}

.logo:hover {
    box-shadow: none;
}

.child:nth-child(1) {
    margin: 10px;
}

.child:nth-child(2),
.child:nth-child(3),
.child:nth-child(4) {
    border-radius: 40px 10px;
    cursor: pointer;
    user-select: none;
    margin: 10px;
    box-shadow: 7px -7px #ecebf0;
    background: #194561;
    height: 50px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 25pt;
    padding: 3px;
}

.child:nth-child(2):hover,
.child:nth-child(3):hover,
.child:nth-child(4):hover {
    background: #06070d;
    box-shadow: none;
}

.child:nth-child(2):active,
.child:nth-child(3):active,
.child:nth-child(4):active {
    font-size: 20pt;
}

#roller {
    position: fixed;
    top: 10px;
    left: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #96c2e2;
}

.switch-btn {
    display: inline-block;
    width: 72px;
    height: 38px;
    border-radius: 19px;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    background: #b10000;
}

.switch-btn::after {
    content: "";
    height: 32px;
    width: 32px;
    border-radius: 17px;
    background: #fff;
    top: 3px;
    left: 3px;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #118c4e;
}

.switch-off {}

.switch-on::after {
    left: 37px;
}